In [1]:
print ("Python lesson 2")

Python lesson 2

In [17]:
# USE OF BACK  SLASH(It is used in representing certain whitespace characters)
print("lestupgrade   \
Python")

lestupgrade   Python

In [22]:
#USE OF TRIPLE QUOTES(To print a multi-line string in Python )
print("""HELLO WORLD
letsupgrade
Python""")

HELLO WORLD
letsupgrade
Python

In [24]:
# string inside the code
print( "Letsupgrade'Python")

Letsupgrade'Python

In [31]:
#Escape sequesnce of string
#\t is a tab character.
print("omkar\tnage")
#\n is a newline character.
print("omkar\nnage")

omkar	nage
omkar
nage

In [54]:
#formatted output
a= "python" #str
b= 1.50     #float
c= 100      #int
print("lesson",a,"value is ",b,"variable",c)
print("lesson %s value is %f variable %d"%(a,b,c))

lesson python value is  1.5 variable 100
lesson python value is 1.500000 variable 100

# operators

In [71]:
# Arithmetic operator
a= 10 
b= 20
print("multiplication:",10*3)
print("Exponent:",10**3)
print("Divison:",a/b)
print("Addition:",a+b)
print("substract",b-a)
print("modulo:",b%a)
print("floor divison:",b//a)

multiplication: 30
Exponent: 1000
Divison: 0.5
Addition: 30
substract 10
modulo: 0
floor divison: 2

In [76]:
# Comparison operator(true & False)
a=10
b=20
a==b

False

In [77]:
a<b

True

In [78]:
a>b

False

In [79]:
a<=b

True

In [80]:
a>=b

False

In [81]:
a!=b

True

In [90]:
# Bitwise operator
a = 10
b = 20
print("OR operator:",a|b)
print("AND operator:", a&b)
print("left shif operator:",a<<1)
print("Right shif operator:",a>>1)

OR operator: 30
AND operator: 0
left shif operator: 20
Right shif operator: 5

In [107]:
#Logical Operator
#1.AND Operator
a=20
b=30
print(a<30 and b>50)

False

In [95]:
a=20
b=30
print(a>10 and b<50)

True

In [106]:
#2.OR operator
a=20
b=30
print(a>10 or b<50)

True

In [105]:
#3.NOt operator
x = 5

print(not(x > 3 and x < 10))

False

In [100]:
# Membership operator
# 1.IN Operator
x = ["Letsupgrade", "Python"]

print("python" in x)

False

In [102]:
#N2.OT IN Operator
x = ["Letsupgrade", "Python"]

print("omkar" not in x)

True

In [109]:
#Identity Operator
#1.IS operator
x = ["Letsupgrade", "python"]
y = ["Letsupgrade", "python"]
z = x

print(x is z)

True

In [104]:
#2.IS NOT operator
x = ["Letsupgrade", "python"]
y = ["Letsupgrade", "python"]
z = x

print(x is not z)

False

# Python is a case-sensitive language.
# Python use PEMDAS rule